<div>
    <h2 translate="jepretApp.photo.home.title">Photos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="photo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jepretApp.photo.home.createLabel">Create a new Photo</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="jepretApp.photo.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span translate="jepretApp.photo.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rating"><span translate="jepretApp.photo.rating">Rating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="photo in photos track by photo.id">
                    <td><a ui-sref="photo.detail({id:photo.id})">{{photo.id}}</a></td>
                    <td>{{photo.name}}</td>
                    <td>{{photo.location}}</td>
                    <td>{{photo.rating}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="photo.detail({id:photo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="photo.edit({id:photo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="photo.delete({id:photo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
